@media screen and (max-width: 786px) {
    .jacsimage {
      width: 100%;
      height: auto;
    }
    .delivery-icon {
        display: none;
      }
  }
  

  .icons{
    position: absolute;
    bottom: 0;
    left: 0;
  }

 
  @media (max-width: 767px) {
    #sr-res-root {
      width: 150px;
      font-size: '14px';
      height: '35px';
      justify-content: start;
    }
  }

