@media screen and (max-width: 786px) {
    .jacsimage {
      width: 100%;
      height: auto;
    }
    .delivery-icon {
        display: none;
      }
  }
  

  .icons{
    position: absolute;
    bottom: 0;
    left: 0;
  }