.right_conatct_social_icon {
  position: fixed;
  top: 50%;
  right: 0;
    transform: translateY(-50%);
  z-index: 999;
}

.right_conatct_social_icon .socil_item_inner {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.right_conatct_social_icon .socil_item_inner li a {
  color: blue;
  font-size: 24px;
  transition: color 0.3s;
}

/* Adjust spacing between social icons */
.right_conatct_social_icon .socil_item_inner li {
  margin-bottom: 10px; /* Adjust as needed */
}



@media screen and (max-width: 786px) {
    .jacsimage {
      width: 100%;
      height: auto;
    }
    .delivery-icon {
        display: none;
      }
  }
  

  .icons{
    position: absolute;
    bottom: 0;
    left: 0;
  }

 
  @media (max-width: 767px) {
    #sr-res-root {
      width: 150px;
      font-size: '14px';
      height: '35px';
      justify-content: start;
    }
  }

